<template>
  <v-container>
    <Alert />
    <Dialog />
    <v-btn small text @click="back" class="mb-2 blue--text"
      ><v-icon>mdi-chevron-left</v-icon>Back
    </v-btn>
    <v-card v-if="blog.id">
      <v-img
        :src="
          blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/200'
        "
        class="white--text"
        height="200px"
        contain
      >
      </v-img>

      <v-card-text>
        <v-simple-table>
          <tbody>
            <tr>
              <td><v-icon>mdi-format-title</v-icon></td>
              <td class="blue--text">{{ blog.title }}</td>
            </tr>
            <tr>
              <td><v-icon>mdi-note</v-icon>Description</td>
              <td>{{ blog.description }}</td>
            </tr>
          </tbody>
        </v-simple-table>
        <div class="text-right mt-5 px-2">
          <v-btn right color="success" class="mx-2" @click="uploadFoto"
            ><v-icon>mdi-camera</v-icon></v-btn
          >
          <v-btn right color="warning" class="mx-2" @click="editBlog"
            ><v-icon>mdi-pencil</v-icon></v-btn
          >
          <v-btn right color="red" @click="deleteBlog"
            ><v-icon>mdi-delete</v-icon></v-btn
          >
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    Alert: () => import("../components/Alert.vue"),
    Dialog: () => import("../components/Dialog.vue"),
  },
  data() {
    return {
      blog: {},
      apiDomain: "https://demo-api-vue.sanbercloud.com",
    };
  },
  computed: {
    ...mapGetters({
      token: "auth/token",
    }),
  },

  methods: {
    ...mapActions({
      setAlert: "alert/set",
      setDialogComponent: "dialog/setComponent",
    }),

    back() {
      return this.$router.go(-1);
    },

    go() {
      let { id } = this.$route.params;
      const config = {
        method: "get",
        url: this.apiDomain + `/api/v2/blog/${id}`,
      };
      this.axios(config)
        .then((response) => {
          let { blog } = response.data;
          this.blog = blog;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    deleteBlog() {
      let { id } = this.$route.params;
      const config = {
        method: "delete",
        url: this.apiDomain + `/api/v2/blog/${id}`,
        headers: {
          Authorization: "Bearer " + this.token,
        },
      };
      this.axios(config)
        .then((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "red",
            text: "Berhasil menghapus blog",
          });
          this.back();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    editBlog() {
      this.setDialogComponent({
        component: "editBlog",
      });
    },
    uploadFoto() {
      this.setDialogComponent({
        component: "uploadFoto",
      });
    },
  },
  created() {
    this.go();
  },
};
</script>
