<template>
  <v-card>
    <v-toolbar dark color="primary">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Buat Blog</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <v-container fluid>
      <v-form ref="form">
        <v-text-field
          v-model="title"
          label="Judul"
          required
          append-icon="mdi-note"
        ></v-text-field>

        <v-textarea
          v-model="description"
          label="Deskripsi"
          append-icon="mdi-card-account-details"
        ></v-textarea>
        <div class="text-xs-center">
          <v-btn color="success lightrn-1" @click="submit"> Edit </v-btn>
        </div>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data: () => ({
    title: "",
    description: "",
    apiDomain: "https://demo-api-vue.sanbercloud.com",
  }),
  computed: {
    ...mapGetters({
      token: "auth/token",
    }),
  },
  methods: {
    ...mapActions({
      setAlert: "alert/set",
    }),
    go() {
      let { id } = this.$route.params;
      const config = {
        method: "get",
        url: this.apiDomain + `/api/v2/blog/${id}`,
      };
      this.axios(config)
        .then((response) => {
          let { blog } = response.data;
          this.title = blog.title;
          this.description = blog.description;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    close() {
      this.$emit("closed", false);
    },

    submit() {
      let { id } = this.$route.params;
      let formData = new FormData();
      formData.append("title", this.title);
      formData.append("description", this.description);

      const config = {
        method: "put",
        url: this.apiDomain + `/api/v2/blog/${id}`,
        data: formData,
        headers: {
          Authorization: "Bearer " + this.token,
        },
      };
      this.axios(config)
        .then((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "success",
            text: "Berhasil mengedit blog",
          });
          this.close();
        })
        .catch((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "error",
            text: "Gagal mengedit blog",
          });
        });
    },
  },
  created() {
    this.go();
  },
};
</script>
