<template>
  <v-card>
    <v-toolbar dark color="primary">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Register</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <v-container fluid>
      <v-form ref="form">
        <v-text-field
          v-model="email"
          label="E-mail"
          required
          append-icon="mdi-email"
        ></v-text-field>
        <v-text-field
          v-model="password"
          label="Password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          counter
          @click:append="showPassword = !showPassword"
        ></v-text-field>
        <v-text-field
          v-model="name"
          label="Nama"
          append-icon="mdi-card-account-details"
        ></v-text-field>

        <v-file-input
          v-model="photo_profile"
          accept="image/*"
          label="Foto Profil"
        ></v-file-input>
        <div class="text-xs-center">
          <v-btn color="success lightrn-1" @click="submit"> Submit </v-btn>
        </div>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data: () => ({
    email: "",
    showPassword: false,
    password: "",
    name: "",
    photo_profile: null,
    apiDomain: "https://demo-api-vue.sanbercloud.com",
  }),
  methods: {
    ...mapActions({
      setAlert: "alert/set",
      setToken: "auth/setToken",
    }),
    close() {
      this.$emit("closed", false);
    },
    login(email, password) {
      const config = {
        method: "post",
        url: this.apiDomain + "/api/v2/auth/login",
        data: {
          email: email,
          password: password,
        },
      };
      this.axios(config).then((response) => {
        console.log(response.data.access_token);
        this.setToken(response.data.access_token);
      });
    },

    submit() {
      let formData = new FormData();
      formData.append("email", this.email);
      formData.append("password", this.password);
      formData.append("name", this.name);
      formData.append("photo_profile", this.photo_profile);

      const config = {
        method: "post",
        url: this.apiDomain + "/api/v2/auth/register",
        data: formData,
      };
      this.axios(config)
        .then((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "success",
            text: "Registrasi Berhasil",
          });
          this.login(this.email, this.password);
          this.close();
        })
        .catch((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "error",
            text: "Registrasi Gagal",
          });
        });
    },
  },
};
</script>
