<template>
  <v-card>
    <v-toolbar dark color="primary">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Upload Foto Blog</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <v-container fluid>
      <v-form ref="form">
        <v-file-input
          v-model="photo"
          accept="image/*"
          label="Foto Profil"
        ></v-file-input>
        <div class="text-xs-center">
          <v-btn color="success lightrn-1" @click="submit"> Submit </v-btn>
        </div>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data: () => ({
    photo: null,
    apiDomain: "https://demo-api-vue.sanbercloud.com",
  }),
  computed: {
    ...mapGetters({
      token: "auth/token",
    }),
  },
  methods: {
    ...mapActions({
      setAlert: "alert/set",
      setToken: "auth/setToken",
    }),
    close() {
      this.$emit("closed", false);
    },

    submit() {
      let { id } = this.$route.params;
      let formData = new FormData();
      formData.append("photo", this.photo);

      const config = {
        method: "put",
        url: this.apiDomain + `/api/v2/auth/blog/${id}/upload-photo`,
        data: formData,
        headers: {
          Authorization: "Bearer " + this.token,
        },
      };
      this.axios(config)
        .then((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "success",
            text: "Upload Foto Berhasil",
          });
          this.login(this.email, this.password);
          this.close();
        })
        .catch((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "error",
            text: "Upload Foto Gagal",
          });
        });
    },
  },
};
</script>
